<html>
<head>
    <meta charset="utf-8">
    <title>Cast Vote</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
    function getCandidates(){
        // make request
        var request = $.ajax({
            "url": "/api/candidates",
            "method": "GET",
            "dataType": "json"
        });
        request.done(function(response){
            var $selector = $("#select-candidates");

            response.candidates.forEach(function(item){
                $selector.append("<option>" + item.name + " | " + item.id + "</option>");
            });
        });
    };

    function voteFor(candidate){
        var candidate_id = candidate.split(" | ")[1];
        var url = "/api/vote";

        // make request
        var request = $.ajax({
            "url": url,
            "method": "POST",
            "dataType": "json",
            "data": {
                "id": candidate_id
            }
        });
    };
    </script>
</head>
<body onload="getCandidates();">

<h1>Vote or Die!</h1>

<div>
    Candidate:
    <select id="select-candidates"></select>
    <br>
    <button id="btn-submit" onclick="voteFor($('#select-candidates').val())">VOTE</button>
</div>

</body>
</html>
